.boxMerah{
	background-color: #FF9789; 
	max-width: 100px;
	border-radius: 5px;
	margin-left: auto; 
	margin-right: auto;
	font-size: 12px;
	padding: 1%;
	color: #5A47AB;
}

.boxHijau{
	background-color: #BBFABE; 
	max-width: 100px; 
	border-radius: 5px; 
	margin-left: auto; 
	margin-right: auto;
	padding: 1%;
	font-size: 12px;
	color: #5A47AB;
}

.boxHijauTua{
	background-color: #9DE7A4; 
	max-width: 100px; 
	border-radius: 5px; 
	margin-left: auto; 
	margin-right: auto;
	padding: 1%;
	font-size: 12px;
	color: #5A47AB;
}

.boxOrange{
	background-color: #FBD15B; 
	max-width: 100px;  
	border-radius: 5px; 
	margin-left: auto; 
	margin-right: auto;
	font-size: 12px;
	padding: 1%;
	color: #5A47AB;
}

.boxBiru{
	background-color: #BEE1F4; 
	max-width: 100px; 
	border-radius: 5px; 
	margin-left: auto; 
	margin-right: auto;
	font-size: 12px;
	padding: 1%;
	color: #5A47AB;
}

a.UploadKontrak .boxOrange{
	max-width: 120px;
}